.checkout-container{
  width:100%;
  margin:0 auto 140px auto;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:flex-start;
  flex-wrap: wrap;

  &.empty{
    flex-direction:column;
    align-items:center;
  }
}
