
.dropdown-container{
  position: absolute;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message{
    font-size:18px;
    margin:50px auto;
  }

  .cart-items{
    height: 340px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .btns-container{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .keep-shopping-btn{
    font-size:10px;
    display:inline-block;
  }

  .checkout-btn{
    font-size:12px;
    display:inline-block;
  }

  .total{
    text-align:right;
    font-weight:bold;
    font-size:20px;
    margin-top:20px;
    padding-top:10px;
    border-top:1px solid #ccc;
  }
  
}


