.shopping-icon{
  width: 25px;
  height: 25px;
}

.cart-icon-container{
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item-count{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 5px;
}
  