
.dropdown-container{
  position: absolute;
  width: 0px;
  height:0px;
  min-height: 0px;
  opacity: 0;
  transition:all 500ms;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 72px;
  right: 52px;
  z-index: 5;
  overflow:hidden;
  box-shadow: 2px 2px 15px rgba(80, 80, 80, 0.8);

  @media screen and (max-width: 1000px) {
    top:60px;
    right:10px;
    font: size 10px;
  }

  &.open{
    width: 400px;
    min-height: 300px;
    opacity:1;

    @media screen and (max-width: 1000px) {
      width: 90%;
      height:400px;
    }
  }

  .empty-message{
    font-size:18px;
    text-align:center;
    margin:50px 0 0 0;
  }

  .cart-items{
    height: 340px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .summary-container{
    margin-top:20px;
    padding-top:10px;
    border-top:1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .btns-container{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .keep-shopping-btn{
    font-size:10px;
    display:inline-block;
  }

  .checkout-btn{
    font-size:12px;
    display:inline-block;
  }

  .total{
    text-align:right;
    font-weight:bold;
    font-size:20px;
  }
  
}


