
.cat-preview-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .cat-preview-title{
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
  }
  
  .cat-preview-products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0px;
  }

  .product-card-container{
    background-color:grey;
    width:250px;
    height:250px;
    img{
      width:250px;
      height:250px;
    }
    button{
      margin-top:-80px;
    }
  }
}

