
.edit-cart-item-container{
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items:top;
  
  .img-container{
    width: 15%;
    padding-right: 15px;
  }
  
  .edit-cart-item-img{
    width: 100px;
    height: auto;
  }
  
  .edit-cart-item-text{
    width: 23%;
    font-size:18px;
    line-height: 4px;

    .item-title{
      margin:5px 0 20px 0;
      padding:0;
    }

    .extension-text{
      font-size:12px;
    }
  }

  .edit-cart-item-price{
    width:15%;
    font-weight: bold;
    font-size:18px;
  }

  .quanity-container{
    display: flex;
    width: 30%;
  }

  .quantity-arrow{
    height:28px;
    width:28px;
    padding:2px 0 0 0;
    margin:0;
    border:1px solid #bbb;
    cursor: pointer;
    text-align: center;
    font-size:14px;
    &:hover{
      background-color:$main-color;
      color:#fff;
    }
  }

  .quantity-value{
    margin: 0 10px;
  }

  .remove-button{
    width:15%;
    text-align:right;
    padding-left: 12px;
    cursor: pointer;
    justify-self: flex-end;
  }

}




