.order-details-billing-info{
  padding:10px;
  font-size:12px;
  h3{
    font-size:16px;
    margin:0;
  }
}

.order-details-shipping-info{
  padding:10px;
  font-size:12px;
  h3{
    font-size:16px;
    margin:0;
  }
}

.btns-container{
  width:100%;
  margin:20px auto;
  display: flex;
  flex-direction: row;
}

button{
  margin:auto;
  margin-top:20px;
  @media screen and (max-width: 1000px) {
    font-size:12px;
    width:250px;
  }
  
}


.order-details-container{
  display:inline-block;
  width:40%;
  margin:0 40px;
  border:1px solid #333;
  @media screen and (max-width: 1000px) {
    width:100%;
    margin:0 20px 30px 20px;
  }

  .order-details-header {
    width: 100%;
    padding:10px;
    margin:0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    font-size:20px;
    background-color:#efefef;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .order-details-content{
    padding:10px;
  }

  .order-details-footer{
    display:flex;
    justify-content:flex-end;

    .order-details-totals-labels {
      width:100%;
      margin-top: 0px;
      margin-left: auto;
      font-size: 12px;
      font-weight:bold;
      line-height:25px;
      padding:10px;
      text-align:right;
      .total{
        font-size:18px;
        font-weight:bold;
      }
    }

    .order-details-totals {
      width:40%;
      margin-top: 0px;
      margin-left: auto;
      font-size: 12px;
      font-weight:bold;
      line-height:25px;
      padding:10px;
      text-align:right;
      .total{
        font-size:18px;
        font-weight:bold;
      }
    }
  }
}
