.size-selector-container{
  padding-bottom:15px;
  border-bottom: 1px solid #ddd;
  margin-bottom:40px;
  p{
    margin:20px 0 0 0;
  }
  .selection-square{
    position:relative;
    display:inline-block;
    margin:10px;
    width:35px;
    height:50px;
    transform: skew(0deg, 5deg);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    opacity:0.7;
    border:1px solid #333;
    text-align: center;
    padding-top:18px;
    font-weight: lighter;
    transition:all 400ms;
    user-select: none;
    cursor:pointer;
    &.selected{
      box-shadow:0 0 10px rgb(87, 87, 87);
      font-weight:bold;
      opacity:1;
      border:2px solid #333;
      transform: skew(0deg, 8deg);
    }

    .tag-circle{
      position:absolute;
      top:5px;
      left:11px;
      border-radius:4px;
      border:2px solid rgb(144, 144, 144);
      height:8px;
      width:8px;
    }
  }
}