
.checkout-item-container{
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .img-container{
    width: 23%;
    padding-right: 15px;
  }
  
  .checkout-item-img{
    width: 50%;
    height: 50%;
  }
  
  .checkout-item-text{
    width: 23%;
  }

  .quanity-container{
    display: flex;
    width: 23%;
  }

  .quantity-arrow{
    cursor: pointer;
  }

  .quantity-value{
    margin: 0 10px;
  }

  .remove-button{
    padding-left: 12px;
    cursor: pointer;
  }
}




